<%= form_with(model: booking_type) do |form| %>
  <div class="form-floating mb-3">
    <%= form.text_field :name, autofocus: true, autocomplete: "name", id: "name", class:"form-control", placeholder: "", required: true %>
    <label for="name">Name</label>
  </div>

  <div class="form-floating mb-3">
    <%= form.text_field :type, autocomplete: "type", id: "type", class:"form-control", placeholder: "", required: true %>
    <label for="type">Type</label>
  </div>

  <div class="mb-3">
    <p>Description</p>
    <%= form.rich_text_area :description, autocomplete: "description", id: "description", class:"form-control", placeholder: "", required: true %>
  </div>

  <div class="form-floating mb-3">
    <%= form.text_field :color, autocomplete: "color", id: "color", class:"form-control", placeholder: "", required: true %>
    <label for="color">Color</label>
  </div>

  <div class="form-floating mb-3">
    <%= form.number_field :duration, autocomplete: "duration", id: "duration", class:"form-control", placeholder: "", required: true %>
    <label for="duration">Duration</label>
  </div>

  <div class="form-check text-start my-3">
    <%= form.check_box :payment_required, class: "form-check-input", id: "paymentRequired", value: "payment-required" %>
    <label for="paymentRequired" class="form-check-label">Payment Required?</label>
  </div>

  <div class="form-floating mb-3">
    <%= form.number_field :price, autocomplete: "price", id: "price", class:"form-control", placeholder: "", required: true %>
    <label for="price">Price</label>
  </div>

  <div class="form-floating mb-3">
    <%= form.text_field :patient_id, autocomplete: "patient_id", id: "patient_id", class:"form-control", placeholder: "", required: true %>
    <label for="patient_id">Patient</label>
  </div>

  <% if booking_type.errors.any? %>
    <div id="error_explanation" data-turbo-cache="false">
      <p class="text-danger">
        <%= I18n.t("errors.messages.not_saved",
                   count: booking_type.errors.count,
                   resource: booking_type.class.model_name.human.downcase)
                 %>
      </p>
      <ul>
        <% booking_type.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions mb-3">
    <%= form.submit nil, class: "btn btn-primary py-2"%>
  </div>
<% end %>
