<main class="d-flex align-items-center py-4 mt-4">
  <div class="form-signin w-100 m-auto" style="max-width: 330px;">
    <a href="/" class="navbar-brand">
      <h1 class="text-primary my-4"><i class="fas fa-star-of-life me-3"></i>AppointMate</h1>
    </a>
    <h3 class="h5 mb-3 fw-normal">Register as a Patient</h1>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="form-floating mb-3">
        <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", id: "floatingFirstName", class:"form-control", placeholder: "", required: true %>
        <label for="floatingFirstName">First name</label>
      </div>

      <div class="form-floating mb-3">
        <%= f.text_field :last_name, autocomplete: "last_name", id: "floatingLastName", class:"form-control", placeholder: "", required: true %>
        <label for="floatingLastName">Last name</label>
      </div>

      <div class="form-floating mb-3">
        <%= f.email_field :email, autocomplete: "email", id: "floatingInput", class:"form-control", placeholder: "", required: true %>
        <label for="floatingInput">Email address</label>
      </div>

      <div class="form-floating mb-3">
        <%= f.password_field :password, autocomplete: "current-password", id: "floatingPassword", class: "form-control", placeholder: "", required: true %>
        <label for="floatingPassword">
          Password
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
        </label>
      </div>

      <div class="form-floating mb-3">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", id: "floatingPasswordConfirmation", class: "form-control", placeholder: "" %>
        <label for="floatingPasswordConfirmation">
          Password Confirmation
        </label>
      </div>

      <%= render "patients/shared/error_messages", resource: resource %>

      <div class="actions mb-3">
        <%= f.submit "Sign up", class: "btn btn-primary w-100 py-2" %>
      </div>
    <% end %>

    <%= render "patients/shared/links" %>
  </div>
</main>
